.gallery-item {
  width: 20rem;
  border: 1px solid purple;
  padding: 0.2rem 0.6rem;
  margin: 1rem auto;
  text-align: center;
  height: 300px;
  transition: all .5s ease-in;
}

.gallery-item__header {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 2%;
  justify-content: flex-end;
}

span.black {
  color: black;
}

span.red {
  color: red;
}