.navbar__button {
  background: transparent;
  border: 1px solid blueviolet;
  border-radius: .5rem;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
}

.navbar__button a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 400px) {
  .navbar__button {
    font-size: 12px;
  }
}